@use '../globals/typography' as *;
@use '../globals/config' as *;

.creation-card {
    position: relative;
    & .background-image {
        width: 100%;
        z-index: 0;
        object-fit: cover;

        
    }
    /* this is for make more visible the text over the images */
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $clr-black;
        opacity:0.3 ;
    }

    & .title {
        position: absolute;
        bottom: 1.5rem;
        left: 1.25rem;
        color: $clr-white;
        z-index: 1;
        font-size: inherit;
    }
}