@use '../globals/variables' as *;

.creation-card {
    // to position the title
    position: relative;
    
    @media (min-width:$break-md) {
        grid-row: span 2;
    }

    & .background-image {
        width: 100%;
        height: 100%;
        z-index: 0;
        object-fit: cover;

        
    }
    /* This is to make the text more visible over the images. */
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $clr-black;
        opacity:0.3 ;
    }

    & .title {
        font-size: clamp(1.35rem, .1rem + 2.5vw , 2rem);
        position: absolute;
        bottom:  clamp(1.5rem, .1rem + 2.5vw , 2.5rem);
        left: clamp(1.25rem, .1rem + 2.5vw ,2.5rem);
        color: $clr-white;
        z-index: 1;
    }
}