@use '../globals/variables' as *;

/* this compoenet also make use of the next rules:
    - navegation__list : src/scss/globals/_utilities.scss
    - nav-item: src/scss/components/_navitem.scss
*/

.header__navegation {
    position:absolute; // helps to aling vertically  PAGE TITLE in mobile
    left:0;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2.25rem $mobile-inline-padding 0;

    // logo row is fixed in top for MOBILE
    &.isOpen {
        position:fixed;
        z-index: 20;
    }

    // navbar is in the normal flow for DESKTOP
    @media (min-width: $break-md) {
        position:static;
        padding: 0;
        padding-top: 3.875rem;
        &.isOpen {
            position:static;
        }
    }

    
    // NAVLIST takes all the window when is "opened" in MOBILE
    .navegation__list {
        padding-inline: $mobile-inline-padding;
        background-color: $clr-black;
        color: $clr-white;
        align-items: start;
        gap: $mobile-inline-padding;
        min-height: 100vh;
        position: fixed;
        top: 0;
        left: 100%;
        transition: left 250ms;

        // the precense of isOpen toogles the animations
        &.isOpen {
            // enter NAVLIST using SLIDE effect in MOBILE  
            left:0;
            & .nav-item {
                & .nav-link {
                    // shows links using SLIDE effect in MOBILE  
                    transform: translate(0, 0);
                }
            }
        }
        

        // NAVLIST takes only the required size in DESKTOP
        @media (min-width: $break-md) {
            gap: 2rem;

            padding: 0;
            background-color: transparent;
            min-height: auto;
            position: static;
            flex-direction: row;
            justify-content: end;
            width: fit-content;
        }

        /* ADD enter effect to LINKS in MOBILE */  
        & .nav-item {
            overflow: hidden;
            font-size: 1.5rem;
        
            /* RESTORE overflow behavior in DESKTOP */  
            @media (min-width: $break-md) {
                overflow: initial;
            }

            & .nav-link {
                display: inline-block;                
                transform: translate(0, 100%);
                transition: transform 250ms;
                transition-delay: 250ms;
                
                /* DELETE effect to LINKS in DESKTOP */  
                @media (min-width: $break-md) {
                    font-size: 1rem;
                    text-transform: none;
                    transform: none;
                }
            }

        }

       
        
        
    }

    .toogle-button {
        z-index: 10;
        display: grid;
        place-content: center;
        @media (min-width: $break-md) {
            display: none;
        }
    }
}