@use '../globals/variables' as *;

.creations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 6rem;

    .title-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3.375rem;

        @media (min-width:$break-md)  {
            margin-bottom: 5rem;
        }
        .title {
            flex-grow: 1;
            text-align: center;
            font-size: 1.75rem;

            @media (min-width:$break-md) {
                text-align: start;
                font-size: $fs-desktop-h2;
            }
        }
        .button-primary {
            display: none;
            @media (min-width:$break-md) {
                display: flex;
            }
        }
    }

    .gallery {
        display: grid;
        gap: 1.5rem;
        margin-bottom: 2.125rem;

        @media (min-width:$break-md) {
            grid-template-columns: repeat(4,1fr);
            grid-template-rows: repeat(4, minmax(7.4rem, 1fr));
            gap: 1.875rem;
            margin-bottom: 11.5rem;

        }
    }

    .button-secondary {
        display: flex;
        margin-inline: auto;
        @media (min-width:$break-md) {
            display: none;
        }
    }

}

