@use '../globals/typography' as *;
@use '../globals/config' as *;

.header {
    padding-inline: $mobile-inline-padding;
    min-height: 100vh;
    background-image: url('/images/mobile/image-hero.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;

    @media (min-width: $break-md) {
        background-image: url('/images/desktop/image-hero.jpg');
    }
}

.brand-logo {
    z-index: 10;
    width: 8rem;
    @media (min-width: $break-md) {
        width: 12rem;
    }
}


/* position is absolute beacause the page title must to be 
alined vertically in mobile */
.header__navegation {
    position:absolute;
    left:0;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2.25rem $mobile-inline-padding 0;

    // all visible elements in when nav is open on mobile are fixed positioned
    &.isOpen {
        position:fixed;
    }
    // @media (min-width: $break-md) {
    //     padding-top: 4rem;
    // }

    // @media (min-width: $break-md) {
    //     position: static;
    //     display: flex;
    //     flex-direction: row;
    //     background-color: initial;
    //     min-height: auto;
    //     width: fit-content;
    //     gap: 2rem;
    // } 
   
    .navegation__list {
        padding-inline: $mobile-inline-padding;
        background-color: $clr-black;
        display: flex;
        align-items: start;
        justify-content: center;
        padding-top: 0;
        position: fixed;
        min-height: 100vh;
        width: 100%;
        top: 0;
        left: 100%;
        flex-direction: column;
        gap: $mobile-inline-padding;
        transition: left 250ms;
        /* overflow for nice effect when nav be opened in mobile */  
        & li {
            overflow: hidden;
        }
        & .nav-link {
            display: inline-block;                
            color: $clr-white;
            font-size: 1.5rem;
            transform: translate(0, 100%);
            transition: transform 250ms;
            transition-delay: 250ms;
            
            // @media (min-width: $break-md) {
            //     font-size: 1rem;
            //     font-family: $ff-body;
            //     text-transform: none;
            // }
        }
        /* Nice effects in mobile */  
        &.isOpen {
            left:0;
            & .nav-link {
                transform: translate(0, 0);
            }
        }
       
    }

    .toogle-button {
        z-index: 10;
        display: grid;
        place-content: center;
        @media (min-width: $break-md) {
            display: none;
        }
    }

    
        

   
    
}

    
.hero {
    display: flex;

    flex-grow: 1;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    
    .title {
        color: $clr-white;
        font-size: clamp(2.5rem, 1.5rem + 4vw, 4.5rem);
        padding: 1.5rem;
        border: 2px white solid;

        @media (min-width: $break-md) {
            max-width: 15ch;
            padding: 2rem 2.75rem;
        }
    }
}


